.miPerfilMod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.miPerfilMod-centerMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
    min-width: 250px;
}

.miPerfilMod-centerMessage-error {
    color: #d9534f;
    background-color: #f8d7da;
    border: 1px solid #d9534f;
}


.miPerfilMod-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

.miPerfilMod-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
}

.miPerfilMod-nombre {
    color: black;
}

.miPerfilMod-subtitle {
    color: black;
}

.miPerfilMod-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.miPerfilMod-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.miPerfilMod-form-group label {
    flex: 1;
    font-weight: bold;
    text-align: right;
}

.miPerfilMod-form-group input,
.miPerfilMod-form-group select {
    flex: 2;
    padding: 5px;
}

.miPerfilMod-form-group input,
.miPerfilMod-form-group select {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.miPerfilMod-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 47px;
}

.miPerfilMod-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    text-align: center;
}

.miPerfilMod-btn:hover {
    background-color: #0056b3;
}

.miPerfilMod-btn-delete {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.miPerfilMod-btn-delete:hover {
    background-color: #a71d2a;
}

.miPerfilMod-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.miPerfilMod-table th, .miPerfilMod-table td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.miPerfilMod-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.miPerfilMod-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.miPerfilMod-table tr:hover {
    background-color: #ddd;
}

.miPerfilMod-table td {
    border-bottom: 1px solid #ccc;
}

.miPerfilMod-table tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.miPerfilMod-table tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.miPerfilMod-table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.miPerfilMod-table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.miPerfilMod-error-message {
    color: #d9534f;
    background-color: #f8d7da;
    border: 1px solid #d9534f;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.miPerfilMod-success-message {
    color: lawngreen;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
